div{
    width: 400px;
    height: 400px;
    position: relative;
    -webkit-animation: second 4s infinite alternate ease-out 1s;
}

@-webkit-keyframes second {
        0%{left: 0px;top: 0px;}
    25%{left: 200px;top:0px;}
    50%{left:200px;top:200px;}
    75%{left:0px;top:200px;}
    100%{left: 0px;top: 0px;}

}
